/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/docker-compose/training-app/log/nginx/*
/docker-compose/training-app/log/php-fpm/*
/docker-compose/db/*

!.gitkeep